main {
  margin: 0 auto;
  padding: 40px;
}

section {
  margin-bottom: 60px;
}

h2 {
  font-size: 36px;
  margin-bottom: 24px;
}

p,
ul,
ol {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

ul,
ol {
  margin-left: 24px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 24px;
}

//Forms
.form-contact {
  form {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    flex-direction: column;
    width: 50%;
    align-items: center;

    button {
      background-color: #f38e12;
      color: #fff;
      padding: 8px 24px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #ffaa3e;
      }
    }
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #1b2a56;
}

//FAQ
.faq-answer {
  display: none;
}

.faq-question {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
  color: #f38e12;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
  transition: background-color 0.3s ease;
}
.faq-question:focus {
  outline: none;
}

.faq-question.open {
  background-color: rgba(0, 0, 0, 0.4);
}
.faq-question:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.faq-question::after {
  content: "+";
  display: inline-block;
  margin-left: 4px;
}

.faq-question.open::after {
  content: "-";
}

//Footer
footer {
  background-color: #f38e12;
  color: #fff;
  text-align: center;
  padding: 16px;
  font-size: 14px;
}
