//Dropdown
.dropdown-menu {
  position: absolute;
  top: 100%;
  display: inline-block;
  list-style: none;
  padding: 0;
  left: -50px;
  li {
    background: var(--orange);
    cursor: pointer;
    &:hover {
      background: var(--orange);
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  .clicked {
    display: none;
  }
  .dropdown-item {
    width: 200px;
    padding: 4% 0;
    text-align: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &:first-child {
      border-radius: 20% 20% 0 0;
      margin-top: 1%;
    }
    &:last-child {
      border-radius: 0 0 20% 20%;
    }
  }
}
.dropdown-btn {
  cursor: pointer;
  position: relative;
}
.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
//Nav-bar
.nav-bar {
  background: var(--primary-blue);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 75%;
  margin: 0 auto;
  border-radius: 0% 0% 30% 30%;
  left: 12.5%;
  text-transform: uppercase;
  .nav-bar-logo {
    color: #fff;
    width: 16%;
    cursor: pointer;
    .logo-img {
      width: 100%;
    }
  }
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.nav-links:hover {
  background-color: var(--orange);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

//Mobile
@media screen and (max-width: 960px) {
  .nav-bar {
    position: static;
    .nav-bar-logo {
      width: 30%;
    }
  }
  .NavbarItems {
    position: relative;
  }

  .nav-item {
    font-size: 2em;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    position: absolute;
    top: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    justify-content: start;
    padding-top: 10%;
  }

  .nav-menu.active {
    background: #242222;
    opacity: 1;
    top: 0px;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--primary-blue);
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 15%;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
    z-index: 3;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
  .dropdown-btn {
    display: flex;
    flex-direction: column;
    .dropdown-menu {
      position: relative;
      width: 100%;
      top: 0;
      padding: 0;
      text-align: center;
      left: 0;
    }
    .dropdown-item {
      width: 100%;
      margin: 0;
      padding: 0;
      &:first-child {
        border-radius: 0%;
      }
      &:last-child {
        border-radius: 0%;
      }
    }
    .dropdown-item a {
      text-decoration: none;
      color: white;
      font-size: 1.25em;
    }
  }
}
