@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap");
* {
  margin: 0;
}

:root {
  --primary-blue: #1b2a56;
  --orange: #f4900e;
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  display: inline-block;
  list-style: none;
  padding: 0;
  left: -50px;
}
.dropdown-menu li {
  background: var(--orange);
  cursor: pointer;
}
.dropdown-menu li:hover {
  background: var(--orange);
}
.dropdown-menu li a {
  color: white;
  text-decoration: none;
}
.dropdown-menu .clicked {
  display: none;
}
.dropdown-menu .dropdown-item {
  width: 200px;
  padding: 4% 0;
  text-align: center;
}
.dropdown-menu .dropdown-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.dropdown-menu .dropdown-item:first-child {
  border-radius: 20% 20% 0 0;
  margin-top: 1%;
}
.dropdown-menu .dropdown-item:last-child {
  border-radius: 0 0 20% 20%;
}

.dropdown-btn {
  cursor: pointer;
  position: relative;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

.nav-bar {
  background: var(--primary-blue);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 75%;
  margin: 0 auto;
  border-radius: 0% 0% 30% 30%;
  left: 12.5%;
  text-transform: uppercase;
}
.nav-bar .nav-bar-logo {
  color: #fff;
  width: 16%;
  cursor: pointer;
}
.nav-bar .nav-bar-logo .logo-img {
  width: 100%;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.nav-links:hover {
  background-color: var(--orange);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-bar .nav-bar-logo {
    width: 30%;
  }
  .NavbarItems {
    position: relative;
  }
  .nav-item {
    font-size: 2em;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    position: absolute;
    top: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    justify-content: start;
    padding-top: 10%;
  }
  .nav-menu.active {
    background: #242222;
    opacity: 1;
    top: 0px;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: var(--primary-blue);
    border-radius: 0;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 15%;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
    z-index: 3;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }
  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }
  button {
    display: none;
  }
  .dropdown-btn {
    display: flex;
    flex-direction: column;
  }
  .dropdown-btn .dropdown-menu {
    position: relative;
    width: 100%;
    top: 0;
    padding: 0;
    text-align: center;
    left: 0;
  }
  .dropdown-btn .dropdown-item {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .dropdown-btn .dropdown-item:first-child {
    border-radius: 0%;
  }
  .dropdown-btn .dropdown-item:last-child {
    border-radius: 0%;
  }
  .dropdown-btn .dropdown-item a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
  }
}
.footer {
  display: flex;
  color: white;
  background-color: var(--orange);
  width: 100%;
  justify-content: space-around;
}
@media screen and (max-width: 960px) {
  .footer {
    display: block;
    text-align: center;
  }
  .footer .some-icons {
    font-size: 2em;
  }
}

/*.email-form {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: white;
  background-color: var(--primary-blue);
  width: 50%;
  margin: 5% auto 5% auto;
  padding: 2.5% 5% 2.5% 5%;
  border-radius: 8%;
  box-shadow: rgba(27, 42, 86, 0.5) -5px 5px, rgba(27, 42, 86, 0.3) -10px 10px,
    rgba(27, 42, 86, 0.2) -15px 15px, rgba(27, 42, 86, 0.1) -20px 20px,
    rgba(27, 42, 86, 0.05) -25px 25px;
  label {
    margin-top: 2%;
    text-transform: uppercase;
    span {
      color: red;
    }
  }
  input[type="submit"] {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: white;
    border-radius: 2%;
    background: var(--orange);
    margin-top: 2%;
    &:hover {
      cursor: pointer;
    }
  }
  input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: inset;
  }

}
*/
textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  width: 100%;
}
textarea:focus {
  border-color: var(--orange);
  outline: none;
}

.text-center {
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  margin: -50px 0 80px 0;
  display: block;
  text-align: center;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 3px;
  padding: 70px 100px;
}
.box .feedback-message {
  color: white;
  font-weight: bold;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}
.input-container .label-message {
  position: static;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--orange);
}

.btn {
  color: #fff;
  background-color: var(--orange);
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
.btn:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.input-container input:focus ~ label {
  top: -12px;
  font-size: 12px;
}

.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}

.index-page h1 {
  display: none;
}
.index-page .placeholder-gif {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
.index-page .divider {
  height: 89vh;
}
@media screen and (max-width: 960px) {
  .index-page .placeholder-gif {
    width: 100%;
    height: 95vh;
  }
}

.town-page .town-header {
  border: 5px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10% auto 0 auto;
  border-radius: 5%;
  padding: 0 5% 0 5%;
}
.town-page .town-header h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */