.index-page {
  h1 {
    display: none;
  }
  .placeholder-gif {
    width: 100%;
    height: 90vh;
  }

  //Mobile
  @media screen and (max-width: 960px) {
    .placeholder-gif {
      width: 100%;
      height: 95vh;
    }
  }
}
